<body><center>
<body style="background-color: #2980B9">
<h1><body style="font-size:10px;"><font color="black">
<br>
<b><big> Welcome To <br>
<img src='/img/lottery.jpg' align="center" style="width:500px;height:200px;">	
<br>
<form method="post" action="play">
 Please Enter Six Numbers and Press START <br>
<center>
	<input type="text" name="number1" size= "8">
	<input type="text" name="number2" size= "8">
	<input type="text" name="number3" size= "8">
	<input type="text" name="number4" size= "8">
	<input type="text" name="number5" size= "8">
	<input type="text" name="number6" size= "8">
<br>
</form>
<br>
<center><input type="submit" value="START"><br>
Thank you, and Good Luck!!!!
</body></center></h1>
</form>
<end>