<body><center>
<body style="background-color: #000000">
<h1><body style="font-size:10px;"><font color="red">
<br>
<b><big> Welcome To Lisa's Hot Lotto!!!! <br>
<br><form method="post" action="play">
<big> Please Enter Six Numbers and Press START <br>
<br>
<center>
	<input type="text" name="number1" size= "11">
	<input type="text" name="number2" size= "11">
	<input type="text" name="number3" size= "11">
	<input type="text" name="number4" size= "11">
	<input type="text" name="number5" size= "11">
	<input type="text" name="number6" size= "11">
<br>
</form>
<br>
<center><input type="submit" value="START"><br>
Thank you, and Good Luck!!!!
</body></center></h1>
</form>
<end>